@model WeatherNET.App.Models.Weather.HourlyDataViewModel

<div class="hourly-forecast-data">
    <div class="hourly-chart" style="height: @(Model.AdjustedChartHeight)rem" id="hourlyForecastScrollChart">
        @foreach ( var displayData in Model.DisplayData )
        {
            <div class="hour-column" style="height: @(displayData.HeightValue)rem">
                <div class="hourly-temp text-center">
                    @Math.Round(displayData.HeightValue / Model.ColumnScalingFactor)
                    <span class="temp-unit hour-unit">
                        <sup>°</sup>
                    </span>
                </div>
                <div class="hour-column-bottom-value">
                    <span class="weather-icon @displayData.IconClass hourly-icon"></span>
                    <span class="hour">@displayData.Hour:00</span>
                </div>
            </div>
        }
    </div>
</div>