@{
    ViewData["Title"] = "Weather";
}
@model WeatherNET.Models.WeatherForecast.WeatherData

<div class="container-fluid weather-container">
    <div class="row">
        <div class="col-xl-12 g-0">
            <div class="hero">
                <div class="container location-container">
                    <form class="weather-location-form" method="get" action="/Weather/GetWeatherByLocationName">
                        <div class="mb-6">
                            <div class="row d-flex justify-content-center">
                                <!-- Location input field with the Get Forecast button -->
                                <div class="col-md-8 position-relative">
                                    <input type="text" class="form-control location-input" id="locationNameInput" name="locationName" placeholder="Enter location name..." aria-describedby="locationNameInput" required>
                                    <button class="btn btn-primary submit-button" type="submit">Get Forecast</button>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <!-- Use my location button -->
                                <div class="col-md-8 text-center">
                                    <button type="button" class="btn btn-secondary mt-2" id="useMyLocation">Use my location</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="today-forecast">
        @{
            // Define scaling factor for columns.
            double columnScalingFactor = 0.5;  // Adjust this value as needed.

            // Define increment factor for chart height.
            double chartHeightIncrementFactor = 0.8; 

            double maxTemp = Model.Hourly.Data.Max( d => d.Temperature );
            double adjustedChartHeight = maxTemp * chartHeightIncrementFactor;
        }
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 text-center">
                <div class="today-forecast-date">
                    <h6>@Model.Currently.Time.ToString("MMMM dd, HH:mm")</h6>
                </div>
                <div class="today-forecast-location">
                    <h3 id="currentLocationName">@Model.Location.Name</h3>      
                </div>
                <div class="today-forecast-temperature">
                    <div class="col-xl-4">
                        <div class="today-forecast-temperature-value">
                            @Math.Round(Model.Currently.Temperature)
                            <span class="temp-unit">
                                <sup>°</sup>
                                C
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="weather-icon @Model.Currently.Icon.ToLower() align-items-center">
                            @*<span class="weather-icon @Model.Currently.Icon.ToLower()"></span>*@
                            
                        </div>
                    </div>
                </div>
                <div class="today-forecast-detailed-info">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-3">
                            <div class="today-forecast-temperature-feels-like">
                                <span>Feels like </span>
                                @Math.Round(Model.Currently.ApparentTemperature)
                                <span class="temp-unit">
                                    <sup>°</sup>
                                    C
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="forecast-summary-text">
                                <span>@Model.Currently.Icon</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="today-forecast-precipProbability">
                                <span class="detailed-icon @(string.IsNullOrEmpty(Model.Currently.PrecipType) || Model.Currently.PrecipType.ToLower() == "none" ? "umbrella" : Model.Currently.PrecipType.ToLower())"></span>
                                @(Model.Currently.PrecipProbability * 100)
                                <span>%</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="today-forecast-windSpeed">
                                <span class="detailed-icon wind"></span>
                                @Math.Round(Model.Currently.WindSpeed)
                                <span>km/h</span>
                            </div>
                        </div>                  
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row d-flex p-0 justify-content-center">
            <div class="hourly-chart" style="height: @(adjustedChartHeight)rem">
                @foreach ( var hourData in Model.Hourly.Data )
                {
                    var heightValue = hourData.Temperature * columnScalingFactor;
                    var iconClass = hourData.Icon.ToLower(); 
                    var hour = hourData.Time.ToString( "HH" );
                    <div class="hour-column" style="height: @(heightValue)rem">
                        <div class="hourly-temp text-center">
                            @Math.Round(hourData.Temperature)
                            <span class="temp-unit hour-unit">
                                <sup>°</sup>
                            </span>
                        </div>
                        <div class="hour-column-bottom-value">
                            <span class="weather-icon @iconClass hourly-icon"></span>
                            <span class="hour">@hour:00</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="daily-forecast-table">
        <div class="row">
            <div class="col-xl-6">
                <div>

                </div>
            </div>
        </div>
    </div>
</div>



<!--Forecast card-->
@* <div class="row">
    <div class="col-12">
        <div class="card weather-card">
            <div class="card-header">
                <h2 id="currentLocationName">Current Weather for @Model.Location.Name</h2>
                <h3>Time of data: @Model.Currently.Time</h3>
            </div>
            <div id="forecastBody" class="card-body currently-weather-body">
                <div class="row">
                    <div class="col-6">
                        <h6>Summary:</h6>
                        <p><span id="summaryValue">@Model.Currently.Summary</span></p>
                        <h6>Icon:</h6>
                        <p><span id="iconValue">@Model.Currently.Icon</span></p>
                        <h6>Temperature:</h6>
                        <p><span id="temperatureValue">@Model.Currently.Temperature</span> °</p>
                        <h6>Feels Like:</h6>
                        <p><span id="feelsLikeValue">@Model.Currently.ApparentTemperature</span> °</p>
                        <h6>Nearest Storm Distance:</h6>
                        <p><span id="nearestStormDistanceValue">@Model.Currently.NearestStormDistance</span> km</p>
                        <h6>Nearest Storm Bearing:</h6>
                        <p><span id="nearestStormBearingValue">@Model.Currently.NearestStormBearing</span> °</p>
                        <h6>Precipitation Intensity:</h6>
                        <p><span id="precipitationIntensityValue">@Model.Currently.PrecipIntensity</span> mm/h</p>
                        <h6>Precipitation Probability:</h6>
                        <p><span id="precipitationProbabilityValue">@Model.Currently.PrecipProbability</span> %</p>
                        <h6>Precipitation Intensity Error:</h6>
                        <p><span id="precipitationIntensityErrorValue">@Model.Currently.PrecipIntensityError</span></p>
                        <h6>Precipitation Type:</h6>
                        <p><span id="precipitationTypeValue">@Model.Currently.PrecipType</span></p>
                    </div>
                    <div class="col-6">
                        <h6>Dew Point:</h6>
                        <p><span id="dewPointValue">@Model.Currently.DewPoint</span> °</p>
                        <h6>Humidity:</h6>
                        <p><span id="humidityValue">@Model.Currently.Humidity</span> %</p>
                        <h6>Pressure:</h6>
                        <p><span id="pressureValue">@Model.Currently.Pressure</span> hPa</p>
                        <h6>Wind Speed:</h6>
                        <p><span id="windSpeedValue">@Model.Currently.WindSpeed</span> km/h</p>
                        <h6>Wind Gust:</h6>
                        <p><span id="windGustValue">@Model.Currently.WindGust</span> km/h</p>
                        <h6>Wind Bearing:</h6>
                        <p><span id="windBearingValue">@Model.Currently.WindBearing</span> °</p>
                        <h6>Cloud Cover:</h6>
                        <p><span id="cloudCoverValue">@Model.Currently.CloudCover</span> %</p>
                        <h6>UV Index:</h6>
                        <p><span id="uvIndexValue">@Model.Currently.UvIndex</span></p>
                        <h6>Visibility:</h6>
                        <p><span id="visibilityValue">@Model.Currently.Visibility</span> km</p>
                        <h6>Ozone:</h6>
                        <p><span id="ozoneValue">@Model.Currently.Ozone</span> DU</p>
                        <h6>Precipitation Accumulation:</h6>
                        <p><span id="precipitationAccumulationValue">@Model.Currently.PrecipAccumulation</span> cm</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p><strong>Weather Summary:</strong> @Model.Currently.Summary</p>
            </div>
        </div>
    </div>
</div> *@